
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

nav ul li {
  margin: 0 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
}
nav a {
  color: var(--primary-green);
  font-weight: 600;
  font-size: 16px;
  padding: 5px;
}
nav a:hover {
  color: var(--primary-yellow);
  border-bottom: 2px solid var(--primary-yellow);
  background:var(--primary-green);
  border-radius: 5px;
  padding: 5px;
}

.hamburger-content nav li {
  margin: 10px;
  padding: 20px;
  text-align: center;
}

.hamburger-content nav li a {
  padding: 20px;
  font-weight: 600;
}

@media (max-width: 751px) {
  .desktop-nav {
    display: none;
  }
}