.footer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color: var(--primary-green);
}

.footer > img {
  margin: 20px;
  height: 128px;
}

.footer li a img {
  height: 16px;
  width: 16px;
  margin: 0 5px 0 0;
  vertical-align: middle;
}

.footer section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.footer p {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-yellow);
  border-bottom: 1px solid var(--hg-black);
}

.footer li a:hover {
  border-bottom: 1px solid var(--hg-black);
}

.footer li a {
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.footer li {
  font-size: 16px;
  font-family: var(--family-p-a), serif;
  height: 20px;
}

.contact {
  color:white;
}

@media (max-width: 373px) {
  .footer {
    justify-content: space-between;
  }
}
